{% load static %}
    <a href="/">
        <div class="logo-container">
            <img src="{% static 'images/img.jpg'%}" alt="">
        </div>
    </a>

    <a href="/admin">
        <h1>admin</h1>
    </a>

    <form method="GET" action = "{%url 'homeAsViewName'%}">
        <input type="text" name="q" placeholder="Search Rooms...">
    </form>

    {% if request.user.is_authenticated %}
    <p>Hello, {{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {%endif%}

    <hr>

    